<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.example.lesson03.dao.ReviewDAO">
 		<select id="selectReviewById" parameterType="int" resultType="com.example.lesson03.model.Review">
 		<!-- 2개 이상을 가져올 때는 parameterType="map" -->
 			SELECT
 				`id`
				<!-- ,`storeName` -->
				,`menu`
				,`userName`
				,`point`
				,`review`
				,`createdAt`
				,`updatedAt`
 			FROM
 				`new_review`
 			WHERE
 				`id` = #{id}  <!-- dao에 넘어온 파라미터 값을 담은 변수명 myBatis문법 (#:동적(따옴표를 감싸게 됨)/ $:) -->	
 		</select>
 		<insert id="insertReview" parameterType="com.example.lesson03.model.Review"> <!-- insert의 경우 returnType 선언x -->
 			INSERT INTO `new_review`
 			(
 				`storeId`
				,`menu`
				,`userName`
				,`point`
				,`review`
				,`createdAt`
				,`updatedAt`
 			)
 			VALUES
 			(
 				#{storeId}
				, #{menu}
				, #{userName}
				, #{point}
				, #{review}
				, NOW()
				, NOW() <!-- getter,setter가 있기에 이렇게 불러오는 것이 가능! -->
 			)
 			
 		</insert>
 		
 		<insert id="insertReviewAsField" parameterType="map">
 			INSERT INTO `new_review`
 			(
 				`storeId`
				,`menu`
				,`userName`
				,`point`
				,`review`
				,`createdAt`
				,`updatedAt`
 			)
 			VALUES
 			(
 				#{storeId}
				, #{menu}
				, #{userName}
				, #{point}
				, #{review}
				, NOW()
				, NOW()
 			)	
 		</insert>
 </mapper>